.btn-icons{
    background: #ffe6e6;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ff1a1a;
}
.btn-icons-modal{
    background: white;
    padding: 10px;
    border-radius: 3px;
    border: 0px;
    position: absolute;
    right: 17px;
    top: 17px;
}
.btn-icons:hover{
    background: #f2f2f2;
}