.bear-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.catalogue-wrapper{
    width: 28%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-tag{
    margin: 10px;
    font-size: 16;
    font-weight: 550;
    line-height: 20px;
    font-family: serif;
}
.icon-container{
    display: flex;
}
.icon-btn{
    flex:1
}