.modalWrapper{
    top: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.5);
}
.modalContent{
    margin-top: 100px;
    margin-left: 10%;
    width: calc(80% - 40px);
    max-height: calc(100% - 200px);
    background: white;
    padding: 20px;
    position: relative;
    overflow: scroll;
}

@media only screen and (max-width: 600px) {
    .modalContent{
        margin-top: 70px;
        height: calc(100% - 140px);
    }
}